<h1>Welcome to the Institution Dashboard, {{institution.name}}!</h1>

<p>You are logged in as {{institution.email}}.</p>

<h2>Your Details:</h2>

<div class="container">
  <header class="header">
    <img
      src="https://www.shutterstock.com/image-photo/portrait-cute-long-haired-dog-260nw-2306664251.jpg"
      alt="Profile Picture"
      class="profile-picture"
    />
    <br />
    <button id="edit-profile-btn" class="edit-profile-btn">Edit Profile</button>
  </header>

  <main class="main">
    <div class="dashboard-data">
      <h1>Dashboard Data</h1>
      <ul>
        {{!-- <li>Name: {{institution.name}}</li>    
        <li>Address: {{institution.address}}</li>
        <li>City: {{institution.city}}</li>
        <li>State: {{institution.state}}</li> --}}
        <li>Name: {{institution.name}}</li>
        <li>Email: {{institution.email}}</li>
        <li>Services Provided: {{institution.services_provided}}</li>
      </ul>
    </div>
  </main>
  <form action="/users/update/{{user._id}}" method="get">
    <input type="submit" value="Update Profile" />
  </form>
  <br />
  <form action="/logout" method="get">
    <input type="submit" value="Logout" />
  </form>
</div>