
<div class="container">
  <header class="header">
     <form
      action="/institution_register/update/{{institution._id}}"
      method="GET" class="mt-3">

      <input type="submit" value="Update Profile" class="btn btn-primary" />
    </form>
  </header>

  <main class="main mt-4">
    <div class="dashboard-data">
      <h1>Dashboard Data: </h1>
      <p><strong>Name:</strong> {{institution.name}} </p>
      <p><strong>Services Provided:</strong> {{institution.services}} </p>
      <p><strong>Address:</strong> {{institution.address}} </p>
      <p><strong>City:</strong> {{institution.city}} </p>
      <p><strong>State:</strong> {{institution.state}} </p>
    </div>
      <img src="{{institution.profileImage.path}}" alt="Profile Picture" style="max-width: 200px; max-height: 200px;"id="institution_image">
      <div id="update-image-modal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h1>Update Profile Pic</h1>
      <form action="/institution_register/update/image/{{institution._id}}" method="POST" enctype="multipart/form-data" id="inst_image_update_form">
          <label for="updated_profile_pic">Update Profile Image:</label>
          <input type="file" id="updated_profile_pic" name="updated_profile_pic" accept="image/*">
          <div id="inst_image_not_uploaded"></div>
          <button type="submit" class="btn btn-primary">Upload</button>
    </form>
  </div>
</div>

<br><br>
    <form action="/logout" method="get" class="mt-3">
      <input type="submit" value="Logout" class="btn btn-secondary" />
    </form>
  </main>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
  var modal = document.getElementById("update-image-modal");

  var btn = document.getElementById("institution_image");

  btn.onclick = function() {
    modal.style.display = "block"; 
  }

  var span = document.getElementsByClassName("close")[0];

  span.onclick = function() {
    modal.style.display = "none"; 
  }

  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none"; 
    }
  }
});

</script>

<script src="/public/js/client_validation.js"></script>