<div class="container">
  <main class="main">
    <div class="dashboard-data">
      <h1>Pet: {{display_pet_data.name}}</h1>

      <img
        {{!-- src="{{normalizedPath}}" --}}
        src="public/assets/pets/1714014389586-img.jpeg"
        alt="Profile Picture"
        style="max-width: 200px; max-height: 200px;"
      />

      <p>Name: {{display_pet_data.name}}</p>
      <p>Species: {{display_pet_data.species}}</p>
      <p>Breed: {{display_pet_data.breed}}</p>
      <p>Description: {{display_pet_data.description}}</p>
    </div>
  </main>
</div>

