{{> appdep}}
{{> nav}}
<div class="container mt-5">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      Post Details
      {{#if isUsersPost}}
        <div class="btn-group" role="group" aria-label="Post Actions">
        <a
            class="btn btn-secondary btn-group"
            href="/posts/postbyID/{{post._id}}/edit"
            role="button"
            aria-disabled="true"
            style="margin-left: 5px"
          >Edit</a>
          <form
            action="/posts/postbyID/{{post._id}}"
            method="post"
            onsubmit="return confirm('Are you sure you want to delete this post?')"
          >
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      {{/if}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.content}}</p>
      <img
        src="../../{{post.image.path}}"
        style="max-width: 200px; max-height: 200px;"
        onerror='this.style.display = "none"'
      />
      <br />
      <cite class="card-text">~{{post.userID}}</cite>
    </div>
  </div>
  <div class="card mt-3">
      <div class="card-header">
        Comments
      </div>
      <ul class="list-group list-group-flush comment-list">

  {{#each comment}}
        <li class="list-group-item">
          <div class="commenter-profile">
            <img src="/{{user.profileImage.path}}" width="50" height="50">
            <small>
              <div class="commenter-name"> {{user.firstName}} {{user.lastName}} </div>  {{#if isUsersComment }} 
              <button data-id="{{_id}}" class="btn btn-sm btn-link comment-edit-btn">edit comment</button> | <a data-id="{{_id}}" class="btn btn-sm btn-link comment-delete-btn">delete comment</a> {{/if }}
            </small>
          </div>
          <div class="commenter-comment">
            <div class="comment-content">
              <p>{{content}}</p>
            </div>
            <div class="comment-edit-form" style="display: none;">
              <textarea class="form-control comment-edit-textarea" style="margin-bottom: 10px;">{{content}}</textarea>
              <button type="button" class="btn btn-primary btn-sm comment-submit-btn">Submit</button>
              <button type="button" class="btn btn-sm btn-link comment-cancel-btn" style="color: red;">Cancel</button>
            </div>
          </div>
        </li>
      
  {{/each}}

  </ul>
    </div>
  <!-- Add Comment Form -->
  <div class="card mt-3">
    <div class="card-header">
      Add Comment
    </div>
    <div class="card-body">
      <form id="addCommentForm">
        <div class="form-group">
          <label for="comment">Your Comment:</label>
          <textarea class="form-control" id="comment" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="submitComment">Submit</button>
      </form>
    </div>
  </div>
</div>
<script src="/public/js/comments.js"></script>